@model StudentTestingSystem.Models.Entities.Group
@{
    ViewData["Title"] = "Создать группу";
    Layout = "_Layout";
}

<h2>Создать группу</h2>

<form asp-action="CreateGroup" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Groups" class="btn btn-secondary">Отмена</a>
</form>